html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.photo-card {
  margin: 10px;
  border: solid black;
}

.gallery {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.search-form {
  text-align: center;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  background-color: rgb(0, 162, 255);
  border-radius: 5%;
  border: none;
  height: 40px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.label {
  color: white;
  font-size: 16px;
}

.input-form {
  font-size: 20px;
}

.stats-item {
  display: flex;
  align-items: center;
}
